.nivoSlider {
	position: relative;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	max-width: 100%;
	margin:0 !important;
	padding:0 !important;
}
.nivo-main-image {
	display: block !important;
	position: relative !important;
	width: 100% !important;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0;
	margin: 0;
	z-index: 6;
	display: none;
}
.nivoSlider a.nivo-imageLink img {
	display: block !important;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display: block;
	position: absolute;
	z-index: 5;
	height: 100%;
	top: 0;
}
.nivo-box {
	display: block;
	position: absolute;
	z-index: 5;
	overflow: hidden;
}
.nivo-box img {
	display: block;
}
/* Caption styles */
/* Caption styles */
.nivo-caption {
	position: absolute;
	bottom: 90px;
	left:10%;
	z-index: 8;
	overflow: hidden;
	display: none;
	width:auto;
	padding:10px 20px 30px 20px;
	background:rgba(255,255,255,0.7);
}
.nivo-caption h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 72px;
	font-weight: normal;
	line-height: 44px;
	color: #599010;
	text-transform:uppercase;
}
.nivo-caption h1 span {display:block; font-size:24px; color:#005f2a;}
.nivo-html-caption {
	display: none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position: absolute;
	z-index: 9;
	cursor: pointer;
	display: none;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	text-align: center;
}
.nivo-controlNav a {
	cursor: pointer;
}
.nivo-controlNav a.active {
	font-weight: bold;
}
.nivoSlider {
	position: relative;
	background: url(loading.gif) no-repeat 50% 50%;
}
.nivoSlider img {
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
}
.nivoSlider a {
	border: 0;
	display: block;
}
.nivo-controlNav {
	text-align: center;
	padding: 0;
	height: 8px;
	z-index: 999 !important;
	position:absolute;
	bottom:20px;
	right:20px;
}
.nivo-controlNav a {
	display: inline-block;
	width: 8px;
	height: 8px;
	background: url(../images/bullets.png) no-repeat 0 0;
	text-indent: -9999px;
	border: 0;
	margin: 0 3px;
}
.nivo-controlNav a.active {
	background-position: 0 -8px;
}
.nivo-directionNav a {
	display: block;
	width: 60px;
	height: 64px;
	background: url(../images/sprites.png) no-repeat 0 -470px;
	text-indent: -9999px;
	border: 0;
}
.theme-default:hover .nivo-directionNav a {
	opacity: 1;
}
a.nivo-nextNav {
	background-position: 0 -534px;
	right: 54px;
	bottom: 38px;
}
a.nivo-prevNav {
	right: 54px;
	bottom: 102px;
}
.nivo-caption {
	font-family: Helvetica, Arial, sans-serif;
}
.nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
